table,
tr,
th,
td {
  border-collapse: collapse;
  border: 1px solid black;
  padding: 8px 12px;
}

th {
  color: #66ccff;
  background-color: #003399;
}

th,
td,
h1 {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #003399;
}

tr:nth-child(even) {
  background-color: #66ccff;
}
